@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 80%
}

body {
    height: 50%
}

img {
  max-width: 100%;
  height: auto;
}

.something {
    height:80%;
    width:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    align-content: center;
}

.techicons {
    height: 100px;
    width: 100px;
}

/* img.object-cover.object-center.rounded.portrait {
    height:30%;
} */



